@import url('./global.css');

* {
  font-family: var(--font-title);
}

a {
  color: hsl(213, 52%, 52%);
  
}

a:hover {
  color: rgb(10, 88, 202);
}

/* LEFT PANEL */

.panel-initial h2 {
  font-size: 2.5rem;
}

.bg-panel {
  background-color: var(--darker-blue);
}

.photo-logo {
  height: 150px; 
  width: 150px;
  margin: 0 -28px;
}

.panel-initial {
  max-width: 450px; 
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
}

.description-text {
  text-align: center;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 40px;
}

/* FORM */

.title-form {
  font-size: 2.5rem;
  color: var(--primary-blue);
}

.form-box {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  max-width: 600px;
  min-height: 500px; 
  margin-top: 60px;
}

.input-custom {
  background-color: #e6eaee;
  border: none;
  font-size: 1.05rem;
  padding: 0.75rem;
}

.input-custom:focus {
  background-color: #f1eeee;
  box-shadow: none;
}

.input-custom:disabled {
  opacity: .6;
}

.form-check-input{
  border: 2px solid #c9c9c9;
}

.btn-blue {
  background-color: var(--primary-blue);
  color: #ffffff;
  border: none;
  --bs-btn-active-bg: #e6eaee;
  --bs-btn-active-color: #777;
}

.btn-blue:hover {
  background-color: var(--darker-blue); 
  color: #ffffff;
}

.btn-blue:disabled {
  background-color: #e6eaee;
  color: #777;
  opacity: 1;
}

.btn-social {
  display: inline-block;
  border: none;
  background-color: #e9ecef;
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.btn-social:hover {
  background-color: #f1eeee;
}

/* RADIO BUTTONS */

.btn-group .btn-check:checked + .btn-outline-custom {
  background-color: var(--primary-blue);
  color: #ffffff;
  box-shadow: none;
  z-index: 2;
}

.btn-group .btn.btn-outline-custom {
  min-width: 25%;
  padding: 8px 10px;
  color: #808080c9;
  background-color: #f1eeee;
  border: 1px solid hsl(0, 4%, 84%);
  border-top: none;
  border-bottom: none;
}

.btn-group .btn-check:first-child + .btn-outline-custom {
  border-left: none;
}

.btn-group .btn-outline-custom:last-child {
  border-right: none;
}

.btn-group .btn-outline-custom:hover {
  background-color: #e8e3e3;
  color:#3e3e3eea;
}

.btn-group .btn-check:focus + .btn-outline-custom {
  box-shadow: none;
}

.btn-outline-custom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CHECKBOX */

.form-check-input {
  border-color: #d3d3d3;
}

.form-check-input:checked {
  background-color: var(--primary-blue);
  border-color: var(--primary-blue);
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem #e6eaee;
}

.form-check-input:not(:checked):focus {
  border-color: #d3d3d3;
  box-shadow: none;
}

/* TOOLTIPS */

.custom-tooltip {
  --bs-tooltip-bg: rgb(221, 70, 70);
  --bs-tooltip-color: #ffffff;
  --bs-tooltip-opacity: 1;
  --bs-tooltip-padding-x: .8rem;
  --bs-tooltip-padding-y: .4rem;
  --bs-tooltip-max-width: 300px;
  margin-bottom: 3px !important;
}

.form-control.is-invalid {
  background-color: #f5ecec;
}

.form-control.is-invalid:focus {
  box-shadow: none;
  outline: 1px solid rgba(233, 201, 201, 0.7);
}

/* MODAL */

.modal .bi {
  font-size: 5rem;
  line-height: 1.25;
}

.modal .btn {
  max-width: 200px;
}

/* MEDIA QUERY */

@media (min-width: 768px) and (max-width: 1310px) {
  .panel-initial, .description-text {
    text-align: left;
  }

  .panel-initial {
    align-items: start;
    max-width: 300px;
  }

  .panel-initial h2 {
    font-size: 2.3rem;
  }
  
  .photo-logo {
    width: 100px;
    height: 100px;
    margin: 0 -18px;
  }
}

@media (max-width: 530px) {
  .description-text {
    font-size: 1rem;
  }

  .panel-initial h2 {
    font-size: 2rem;
  }

  .panel-initial, .description-text {
    text-align: left;
    max-width: 380px;
  }
  
  .panel-initial {
    align-items: start;
  }

  .photo-logo {
    width: 80px;
    height: 80px;
    margin: 10px -15px;
  }

  .custom-tooltip {
    --bs-tooltip-max-width: 80vw;
  }
}