@import url('./global.css');

.title {
  color: var(--primary-blue);
  font-family: var(--font-title);
}

.gray-text {
  color: var(--secondary-gray);
}

section {
  padding: 80px 20px;
}

/* NAVBAR */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 6px;
}

.logo img {
  height: 1.8rem;
  padding-bottom: 4px;
}

.project-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-blue);
  text-decoration: none;
}

.nav-link {
  color: var(--primary-blue);
  font-weight: 500;
}

.navbar-toggler {
  --bs-navbar-toggler-font-size: 1rem;
  --bs-navbar-toggler-focus-width: 0;
  color: var(--primary-blue);
  border: none;
  padding: 0;
}

/* SECTION - HERO */

.hero {
  background: linear-gradient(135deg, hsla(210, 53%, 20%, 0.95), hsl(210 52% 15% / .95)), url('../assets/images/obra.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero p {
  line-height: 1.5;
}

/* BOTÕES */

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-default {
  background-color: var(--primary-blue);
  color: white;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), background-color .3s;
}

.btn-default:hover {
  background-color: #14273e;
  color: white;
  transform: scale(1.04);
}

.btn-hero {
  background-color: #14273e;
  padding: 15px 25px;
  font-size: 1.1rem;
  color: white;
  transition: transform .3s cubic-bezier(.4, 0, .2, 1), background-color .3s;
  border: 1px solid #ffffff25;
}

.btn-hero:hover {
  background-color: #ffffff10;
  border: 1px solid #ffffff25;
  transform: translateY(-3px);
}

.btn-login {
  color: var(--primary-blue);
  background-color: #e0ebf5;
  transition: background-color .3s;
}

.btn-login:hover {
  background-color: hsl(209, 51%, 88%);
}

/* SECTION -  COMO FUNCIONA */

.step {
  text-align: center;
  padding: 1rem;
}

.step-icon {
  width: 75px;
  height: 75px;
  background-color: var(--primary-blue); 
  color: white; 
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.step:hover .step-icon {
  background-color: var(--primary-blue);
  transform: scale(1.08);
}

.step-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-blue);
  margin-bottom: 0.5rem;
  font-family: var(--font-title);
}

.step-text {
  color: var(--secondary-gray);
  font-size: 0.95rem;
  line-height: 1.75;
}

/* SECTION - BENEFICIOS */

.card {
  transition: transform .25s ease-out, box-shadow .25s ease-out;
  border-color: #e2e6e9;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px -12px rgba(0, 0, 0, .2);
}

.card-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 1.75rem;
  color: var(--primary-blue);
  background-color: #e0ebf5;
  transition: background-color .25s, color .25s;
}

.card:hover .card-circle {
  background-color: var(--primary-blue);
  color: #ffffff;
}

.service-icon {
  color: #1f3d63;
}

/* FOOTER */

.footer {
  background-color: var(--primary-blue);
  color: white;
  padding: 20px 0;
}

.footer a:hover, .copyright {
  color: #c0c0c0 !important; 
}